@import "./variables.scss";
/* css */;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font;
  max-width: 1920px;
  margin: auto;
}

section,
article {
  padding: 20px;
}

h2 {
  color: $h2;
}

p {
  color: $p;
  font-size: $fontsize;
}

header {
  background-blend-mode: screen;
  background-size: 100% 100%;
  background-image: $headerimg;
  padding: $headerBgAspect
}

header h1 {
  color: $headingtxt;
  padding: 50px;
}

header q {
  color: $headingtxt;
  margin-left: 5%;
  font-size: $fontsize;
}

nav {
  background-color: $bg1;
  height: 75px;
}

li {
  display: inline;
  line-height: 75px;
  color: $li;
  padding: 20px;
}

li a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

footer {
  background-image: linear-gradient(to bottom, $bg1, $bg2 90%);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* main */;

.s {
  position: sticky;
  top: 0;
}

.bg1 {
  background-color: $bg1;
}

#flexb {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  align-items: center;
  justify-content: space-evenly;
}

#flexb h2 {
  align-self: flex-start;
}

#flexb img {
  width: $stickypheight / 2;
  align-self: center;
  padding: $iconpading;
}

#flexb p {
  height: $stickypheight;
  line-height: 2;
  padding: $stickyppadding;
  width: $stickypwidth;
  text-align: center;
}

#sticky {
  background-attachment: fixed;
  background-color: $stickyblendcolor;
  background-blend-mode: $stickyblend;
  background-size: cover;
  background-position: center;
  background-image: $stickyimg;
  padding: $imageBgAspect;
}

article {
  background-color: $bg1;
  color: $p;
  min-height: 300px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

article h2 {
  align-self: flex-start;
}

article p {
  padding: 50px 50px;
  align-self: baseline;
}

@media only screen and (min-width: 993px) {
  #flexb img:last-of-type {
    margin: $stickypheight / 4 0;
  }
  #flexb p:last-of-type {
    align-self: baseline;
    height: unset;
    min-height: $stickypheight / 2;
  }
}

@media only screen and (max-width: 993px) {
  header h1 {
    padding: $paddingmobile;
  }
  #flexb {
    flex-direction: column;
    padding: $paddingmobile;
    justify-content: unset;
    flex-wrap: unset;
    align-items: unset;
  }
  #flexb p:nth-child(19) {
    order: 21;
  }
  #flexb img:nth-child(21) {
    order: 20;
  }
  #flexb h2:nth-child(20) {
    order: 19;
  }
  #flexb p:nth-child(16) {
    order: 18;
  }
  #flexb img:nth-child(18) {
    order: 17;
  }
  #flexb h2:nth-child(17) {
    order: 16;
  }
  #flexb p:nth-child(13) {
    order: 15;
  }
  #flexb img:nth-child(15) {
    order: 14;
  }
  #flexb h2:nth-child(14) {
    order: 13;
  }
  #flexb p:nth-child(10) {
    order: 12;
  }
  #flexb img:nth-child(12) {
    order: 11;
  }
  #flexb h2:nth-child(11) {
    order: 10;
  }
  #flexb p:nth-child(7) {
    order: 9;
  }
  #flexb img:nth-child(9) {
    order: 8;
  }
  #flexb h2:nth-child(8) {
    order: 7;
  }
  #flexb p:nth-child(4) {
    order: 6;
  }
  #flexb img:nth-child(6) {
    order: 5;
  }
  #flexb h2:nth-child(5) {
    order: 4;
  }
  #flexb p:nth-child(1) {
    order: 3;
  }
  #flexb img:nth-child(3) {
    order: 2;
  }
  #flexb h2:nth-child(2) {
    order: 1;
  }
  #flexb img {
    margin: $paddingmobile 0;
  }
  #flexb p {
    width: 100%;
    padding: $paddingmobile $paddingmobile $paddingmobile * 4 $paddingmobile;
    height: unset;
  }
  #flexb p:last-of-type {
    padding: $paddingmobile;
  }
  .s {
    position: relative;
    top: unset;
  }
  article {
    padding: $paddingmobile;
  }
  article p {
    padding: $paddingmobile $paddingmobile;
  }
}
