/* css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  max-width: 1920px;
}

section,
article {
  padding: 20px;
}

h2 {
  color: #f9c0c3;
}

p {
  color: white;
  font-size: large;
}

header {
  background-blend-mode: screen;
  background-size: 100% 100%;
  background-image: url(../images/ban.jpg);
  padding: 0 6% 18% 6%;
}

header h1 {
  color: #bf1349;
  padding: 50px;
}

header q {
  color: #bf1349;
  margin-left: 5%;
  font-size: large;
}

nav {
  background-color: #6e46dd;
  height: 75px;
}

li {
  display: inline;
  line-height: 75px;
  color: mintcream;
  padding: 20px;
}

li a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

footer {
  background-image: linear-gradient(to bottom, #6e46dd, #9071e5 90%);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* main */
.s {
  position: sticky;
  top: 0;
}

.bg1 {
  background-color: #6e46dd;
}

#flexb {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  align-items: center;
  justify-content: space-evenly;
}

#flexb h2 {
  align-self: flex-start;
}

#flexb img {
  width: 250px;
  align-self: center;
  padding: 25px;
}

#flexb p {
  height: 500px;
  line-height: 2;
  padding: 1.5% 2.25% 0 2.25%;
  width: 62%;
  text-align: center;
}

#sticky {
  background-attachment: fixed;
  background-color: #610a26;
  background-blend-mode: screen;
  background-size: 100% 100%;
  background-image: url(../images/sticky.jpg);
  padding: 19.2% 10.8%;
}

article {
  background-color: #6e46dd;
  color: white;
  min-height: 300px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

article h2 {
  align-self: flex-start;
}

article p {
  padding: 50px 50px;
  align-self: baseline;
}

@media only screen and (min-width: 993px) {
  #flexb img:last-of-type {
    margin: 125px 0;
  }

  #flexb p:last-of-type {
    align-self: baseline;
    height: unset;
    min-height: 250px;
  }
}
@media only screen and (max-width: 993px) {
  header h1 {
    padding: 5%;
  }

  #flexb {
    flex-direction: column;
    padding: 5%;
    justify-content: unset;
    flex-wrap: unset;
    align-items: unset;
  }

  #flexb p:nth-child(19) {
    order: 21;
  }

  #flexb img:nth-child(21) {
    order: 20;
  }

  #flexb h2:nth-child(20) {
    order: 19;
  }

  #flexb p:nth-child(16) {
    order: 18;
  }

  #flexb img:nth-child(18) {
    order: 17;
  }

  #flexb h2:nth-child(17) {
    order: 16;
  }

  #flexb p:nth-child(13) {
    order: 15;
  }

  #flexb img:nth-child(15) {
    order: 14;
  }

  #flexb h2:nth-child(14) {
    order: 13;
  }

  #flexb p:nth-child(10) {
    order: 12;
  }

  #flexb img:nth-child(12) {
    order: 11;
  }

  #flexb h2:nth-child(11) {
    order: 10;
  }

  #flexb p:nth-child(7) {
    order: 9;
  }

  #flexb img:nth-child(9) {
    order: 8;
  }

  #flexb h2:nth-child(8) {
    order: 7;
  }

  #flexb p:nth-child(4) {
    order: 6;
  }

  #flexb img:nth-child(6) {
    order: 5;
  }

  #flexb h2:nth-child(5) {
    order: 4;
  }

  #flexb p:nth-child(1) {
    order: 3;
  }

  #flexb img:nth-child(3) {
    order: 2;
  }

  #flexb h2:nth-child(2) {
    order: 1;
  }

  #flexb img {
    margin: 5% 0;
  }

  #flexb p {
    width: 100%;
    padding: 5% 5% 20% 5%;
    height: unset;
  }

  #flexb p:last-of-type {
    padding: 5%;
  }

  .s {
    position: relative;
    top: unset;
  }

  #sticky {
    background-attachment: unset;
    background-size: cover;
  }

  article {
    padding: 5%;
  }

  article p {
    padding: 5% 5%;
  }
}

/*# sourceMappingURL=styles.css.map */
