$font: sans-serif;
$headingtxt: ghostwhite;
$h2: mediumslateblue;
$p: mintcream;
$li: lightslategray;


$bg1:#c4a4f2;
$bg2:#dabfff;

$headerimg: url(../images/ban.jpg);
$stickyimg: url(../images/sticky.jpg);