$font: sans-serif;
$fontsize: large;

$headingtxt: #bf1349;
$h2: #f9c0c3;
$p: white;
$li: mintcream;

$bg1:#6e46dd;
$bg2:#9071e5;

$headerimg: url(../images/ban.jpg);
$headerBgAspect: 0 6% 18% 6%;

$stickyimg: url(../images/sticky.jpg);
$imageBgAspect: 19.2% 10.8%;

$stickyblendcolor: #610a26;

$stickypheight: 500px;
$stickyppadding: 1.5% 2.25% 0 2.25%;
$stickypwidth: 62%;

$iconpading: 25px;

$paddingmobile: 5%;




