$headingtxt:  mintcream;
$h2: mintcream;
$p: white;
$li: mintcream;

$bg1:#46B1C9;
$bg2:mintcream;
$bg3:#46B1C9;

$headerBgAspect: 0;

$stickyimg: url(../images/sticky.webp);
$imageBgAspect: 19.2% 10.8%;

$stickyblendcolor: #46B1C9;

$stickypheight: 500px;
$stickyppadding: 1.5% 2.25% 0 2.25%;
$stickypwidth: 62%;

$iconpading: 25px;

$paddingmobile: 5%;
