
$heading: #383838;
$p: #383838;

$bg1:#46B1C9;
$bg2:snow;
$bg3:#46B1C9;

$headerBgAspect: 0;

$stickyimg: url(../images/sticky.webp);
$imageBgAspect: 19.2% 10.8%;

$stickyblendcolor: #46B1C9;

$stickypheight: 500px;
$stickyppadding: 20px 2.25% 0 2.25%;
$stickypwidth: 62%;

$iconmargin: 25px;

$paddingmobile: 5%;
