@import "./variables";
@import "./partials/font";
@import "./partials/breakpoints";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "overlayscrollbars/styles/overlayscrollbars.min";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// scrollbar

.os-theme-body {
  --os-size: 4px;
  @include min_md {
    --os-size: 7px;
  }
}

.os-theme-body .os-scrollbar-handle {
  background: $color_1;
  border-radius: 0px;
  height: 85px;
}

.os-theme-body .os-scrollbar-track {
  background: transparent;
}

body {
  background-color: $Blue;
  font-family: $font;
  max-width: 1920px;
  margin: auto;
  position: relative;
  &.before-0,
  &.before-1,
  &.before-2,
  &.before-3,
  &.before-4,
  &.before-5,
  &.before-6,
  &.before-start,
  &.before-end {
    &::before {
      content: " ";
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      transition: background-color 1s;
      will-change: background-color;
      background-color: $Blue;
    }
  }
  &.before-0::before {
    background-color: $Red;
  }
  &.before-1::before {
    background-color: $Orange;
  }
  &.before-2::before {
    background-color: $Yellow;
  }
  &.before-3::before {
    background-color: $Green;
  }
  &.before-4::before {
    background-color: $Blue;
  }
  &.before-5::before {
    background-color: $Indigo;
  }
  &.before-6::before {
    background-color: $Violet;
  }
  &.before-start::before {
    background-color: $Blue;
  }
  &.before-end::before {
    background-color: $Blue;
  }
  &.before-0 {
    background-color: $Red;
  }
  &.before-1 {
    background-color: $Orange;
  }
  &.before-2 {
    background-color: $Yellow;
  }
  &.before-3 {
    background-color: $Green;
  }
  &.before-4 {
    background-color: $Blue;
  }
  &.before-5 {
    background-color: $Indigo;
  }
  &.before-6 {
    background-color: $Violet;
  }
  &.before-start {
    background-color: $Blue;
  }
  &.before-end {
    background-color: $Blue;
  }
}

h1,
h2,
p {
  font-size: clamp(15px, 3vw, 17px);
}

header {
  h1 {
    color: $color_1;
    padding: 2.5% 2.5% 0 2.5%;
    font-weight: 500;
    color: $color_1;
    @include max_lg {
      padding: 7.5% 17px 0 17px;
    }
  }
}

.u:last-of-type {
  padding: 5% 2.25% 5% 2.25%;
  @include max_lg {
    padding: 7.5% 1%;
  }
}

.u {
  margin: 5% 0 0 0;
  padding: 0 2.25% 0 2.25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: $color_1;
  @include max_lg {
    flex-direction: column;
    justify-content: initial;
    flex-wrap: initial;
    align-items: initial;
    padding: 0 17px;
    margin: 7.5% 0 0 0;
  }
  span {
    display: block;
  }
  h2 {
    align-self: flex-start;
    padding-top: 2%;
    display: flex;
    font-weight: 500;
    flex-direction: column;
    justify-content: space-between;
    @include max_lg {
      order: 1;
      margin: 0 0 9% 0;
      width: 100%;
      align-items: center;
    }
    span {
      margin: 0 0 2% 0;
    }
  }
  img {
    width: 34%;
    height: 100%;
    margin: 3% 0 0 0;
    max-width: 134px;
    min-width: 60px;
    filter: invert(63%);
    @include max_lg {
      order: 2.5;
      margin: 3% auto 3% 3%;
      width: 20%;
    }
  }
  p {
    line-height: 2;
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 62%;
    min-height: 380px;
    @include max_lg {
      width: initial;
      order: 3;
      min-height: 267px;
    }
    .block {
      display: block;
      width: 65%;
      height: fit-content;
      &.sticky {
        position: sticky;
        top: 5%;
      }
    }
    .row {
      display: flex;
      flex-direction: column;
      width: fit-content;
    }
  }
}

#image {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-image: url(../images/perth.webp);
  aspect-ratio: 2.5 / 1;
  position: relative;
  @include max_lg {
    background-attachment: initial;
    aspect-ratio: 16 / 9;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $Blue;
    opacity: 0.1;
  }
}

footer {
  background-image: linear-gradient(to bottom, transparent, $color_2 100%);
  height: 325px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#fallback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  img {
    display: block;
    margin: 0 auto;
  }
  h1 {
    text-align: center;
    font-weight: 400;
    color: $color_1;
    margin: 0 0 1rem 0;
  }
  #go-back {
    display: block;
    text-align: center;
    font-weight: 400;
    border: 1px solid $color_1;
    border-radius: 20px;
    background: transparent;
    outline: none;
    color: $color_1;
    padding: 1px 6px;
  }
}
