@import "./variables";
@import "./partials/font";
@import "./partials/breakpoints";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../node_modules/@fortawesome/fontawesome-free/scss/regular";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font;
  max-width: 1920px;
  margin: auto;
}

h1,
h2 {
  font-weight: 500;
  font-size: 17px;
  color: $color_1;
}

p {
  color: $color_1;
  font-size: $fontsize;
}

.sticky {
  position: sticky;
  top: 0;
  @include max_lg {
    position: relative;
    top: initial;
  }
}

.bg1 {
  background-color: $color_2;
}

header {
  background-color: $color_2;
  h1 {
    color: $color_1;
    padding: 50px;
    @include max_lg {
      padding: 5%;
    }
  }
}

#flexb {
  padding: 1.5% 20px 20px 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  align-items: center;
  justify-content: space-evenly;
  @include max_lg {
    flex-direction: column;
    padding: 5%;
    justify-content: initial;
    flex-wrap: initial;
    align-items: initial;
  }
  span {
    display: block;
  }
  h2 {
    align-self: flex-start;
    padding-top: 26px;
    height: 95px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  img {
    width: 200px;
    margin: 25px;
    max-width: 250px;
    min-width: 200px;
    align-self: center;
    height: 100%;
    filter: invert(63%) contrast(188%);
    @include max_lg {
      width: 34%;
      margin: 7% 0;
    }
    &:last-of-type {
      margin: calc(500px / 4) 0;
      @include max_lg {
        margin: 7% 0;
      }
    }
  }
  p {
    line-height: 2;
    padding: 20px 2.25% 0 2.25%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 500px;
    width: 62%;
    @include max_lg {
      padding: 5% 0 5% * 4 0;
      height: initial;
      width: initial;
    }
    &:last-of-type {
      align-self: baseline;
      height: initial;
      min-height: calc(500px / 2);
      @include max_lg {
        align-self: initial;
        min-height: initial;
      }
    }
    .block {
      display: block;
      width: 65%;
    }
    .row {
      display: flex;
      flex-direction: column;
      width: fit-content;
    }
  }
}

#image {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-image: url(../images/perth.webp);
  padding: 19.2% 10.8%;
  position: relative;
  @include max_lg {
    background-attachment: initial;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color_2;
    opacity: 0.2;
  }
}

footer {
  background-image: linear-gradient(to bottom, $color_2, $color_3 100%);
  height: 325px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#fallback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  img {
    display: block;
    margin: 0 auto;
  }
  h1 {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: $color_1;
    margin: 0 0 1rem 0;
  }
  #go-back {
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid $color_1;
    border-radius: 20px;
    background: transparent;
    outline: none;
    color: $color_1;
    padding: 1px 6px;
  }
}

@include max_lg {
  #flexb p:nth-child(19) {
    order: 21;
  }
  #flexb img:nth-child(21) {
    order: 20;
  }
  #flexb h2:nth-child(20) {
    order: 19;
  }
  #flexb p:nth-child(16) {
    order: 18;
  }
  #flexb img:nth-child(18) {
    order: 17;
  }
  #flexb h2:nth-child(17) {
    order: 16;
  }
  #flexb p:nth-child(13) {
    order: 15;
  }
  #flexb img:nth-child(15) {
    order: 14;
  }
  #flexb h2:nth-child(14) {
    order: 13;
  }
  #flexb p:nth-child(10) {
    order: 12;
  }
  #flexb img:nth-child(12) {
    order: 11;
  }
  #flexb h2:nth-child(11) {
    order: 10;
  }
  #flexb p:nth-child(7) {
    order: 9;
  }
  #flexb img:nth-child(9) {
    order: 8;
  }
  #flexb h2:nth-child(8) {
    order: 7;
  }
  #flexb p:nth-child(4) {
    order: 6;
  }
  #flexb img:nth-child(6) {
    order: 5;
  }
  #flexb h2:nth-child(5) {
    order: 4;
  }
  #flexb p:nth-child(1) {
    order: 3;
  }
  #flexb img:nth-child(3) {
    order: 2;
  }
  #flexb h2:nth-child(2) {
    order: 1;
  }
}
