@font-face {
    font-family: "NunitoSans";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(../font/NunitoSans.ttf) format('truetype-variations');
}


$font: "NunitoSans";